spring:
  datasource:
    url: jdbc:tc:postgresql:15-alpine:///testdb
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

